body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div#arena {
	position: absolute;
	left: 20px;
	top: 20px;
	border: 1px solid #666;
	background-color: #393;
}

div.pillar {
	border-width: 2px;
	border-style: outset;
	border-color: #666;
	background-color: #ccc;
	position: absolute;
}
button#start-game-button {
	position: absolute;
	right: 10px;
	top: 260px;
	width: 150px;
}	

button#stop-game-button {
	position: absolute;
	right: 10px;
	top: 285px;
	width: 150px;
}	
	

div#log {
	height: 200px;
	overflow: auto;
	font-family: Consolas;
	font-size: 0.7em;
}	

div#log-wrapper {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 150px;
	background-color: #000;
	color: #999;
}
div.sprite {
	width: 32px;
	height: 32px;
	position: absolute;
}