body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div#log {
	height: 400px;
	overflow: auto;
	
	font-family: Consolas;
	font-size: 0.8em;
}	
div#log-wrapper {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 600px;
	background-color: #000;
	color: #999;
}
